# Composer
/vendor/
/composer.lock

# PHP
.phpunit.result.cache
.phpunit.cache/
coverage.xml
.env

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage report
/coverage-report/